@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100dvh;
  background-color: #000;
  font-family: var(--font-fire-code);
}

.marquee {
  animation: marquee 300s linear infinite;
}

.marquee-reverse {
  animation: marquee-reverse 300s linear infinite;
}

@media (prefers-reduced-motion) {
  .marquee {
    animation: none;
  }
  .marquee-reverse {
    animation: none;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
